<div class="news">
  {% if page.latest_posts != blank %}
    <table class="table table-sm table-borderless">
      {% for item in site.posts limit: page.latest_posts.limit %}
        <tr>
          <!-- Period -->
          <th style="width: 20%; text-align: left; font-weight: bold;">
            {% if item.period %}
              {{ item.period }}
            {% else %}
              {{ item.date | date: '%b %Y' }}
            {% endif %}
          </th>

          <!-- Level -->
          <td style="width: 25%; text-align: center; font-style: italic;">
            {% if item.level %}
              {{ item.level }}
            {% endif %}
          </td>

          <!-- Title -->
          <td style="width: 55%; text-align: left;">
            <span class="news-title">{{ item.title }}</span>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No awards so far...</p>
  {% endif %}
</div>
