<div class="news">
  {% if page.latest_posts != blank %}
    <table class="table table-sm table-borderless">
      {% for item in site.posts limit: page.latest_posts.limit %}
        <tr>
          <th style="width: 15%">
            {% if item.period %}
              {{ item.period }}
            {% else %}
              {{ item.date | date: '%b %Y' }}
            {% endif %}
          </th>
          <td style="width: 40%">
            {% if item.level %}
              {{ item.level }}
            {% endif %}
          </td>
          <td style="width: 45%">
            <span class="news-title">{{ item.title }}</span>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No awards so far...</p>
  {% endif %}
</div>
